/*----------------------------------------------------------------------------------*/
/* basic set up*/
/*----------------------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color: #fffcfc;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------------------------------------------------*/
/* RESUABLE CODE*/
/*----------------------------------------------------------------------------------*/


.row{
    max-width: 1140px;
    margin: 0 auto;
}
/*---HEADINGS---*/
h1,h2,h3 {
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;

}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    word-spacing: 4px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*----------------------------------------------------------------------------------*/
/*HEADER*/
/*----------------------------------------------------------------------------------*/


header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(resources/css/img/0_Growing-money.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
    background-attachment: fixed;
}

/*----------------------------------------------------------------------------------*/
/* MAIN NAV*/
/*----------------------------------------------------------------------------------*/

.naykas{
    float: left;
    margin-top: 10px;
    padding-left: 5px;
}

/* MAIN-NAVIGATION */
.main-nav{
    float: right;
    display: inline-block;
    list-style: none;
    margin-top: 55px; 
    margin-left: 15px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
}
.main-nav li a{
    text-decoration: none;
}

/*sticky nav*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color:#1fba3; 
    box-shadow: 0 2px 2px #efefef;
   
}
.sticky main-nav{
    float: right;
    display: inline-block;
    list-style: none;
}
.sticky .naykas h2 {
    color: #1fba37;
    margin-top: 20px;
    font-size: 140%;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
    color: #1fba37; 
    padding-bottom: 30px;
}


/* MAIN-TEXT */

.main-text{
    position: absolute;
    width: 1140px;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.para-text{
    margin-top: 25px;
    margin-bottom: 30px;
    line-height: 145%;
}

.main-nav li :link,
.main-nav li :visited{
    color: #fff;
}

.main-nav li :hover,
.main-nav li :active{
    color: #70aa2d;
}


/*---BUTTONS----*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    
}

.btn-bec:link,
.btn-bec:visited,
input[type=submit]{
    background-color: rgba(21, 177, 117, 0.99);
    color: antiquewhite;
}
.btn-con:link,
.btn-con:visited{
    background-color: #fff;
    color: #0b0a0a;
    border: 1px solid  rgba(21, 177, 117, 0.99);
   
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: aliceblue;
    color: green;
}

.btn-bec:hover,
.btn-bec:active{
    border: 1px solid rgba(21, 177, 117, 0.99);
    color:  #555555;
}

.btn-con:hover,
.btn-con:active{
    background-color: rgba(21, 177, 117, 0.99);
    color: antiquewhite;
}

/*----------------------------------------------------------------------------------*/
/* HOW IT WORKS */
/*----------------------------------------------------------------------------------*/

.section-steps{
    background-color: #fff;
    color: green;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
     margin-top: 30px;
    
} 

/*.steps-box:last-child{
    padding-left: 3%;
    margin-top: 710px; 
} */
.app-screen{
    width: 85%;
}
.works-step{
    margin-bottom: 50px; 
    margin-top: 50px;
    padding-top: 50px;
    padding: auto;
    padding-right: 20%;
    
}

.works-step:last-of-type{
    margin-bottom: 80px;
    
}
.works-step div{
    color: #4ca81b;
    border: 2px solid #1fba37;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.button-app:link,
.button-app:visited {
    border: 0;
    
}

.button-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
        
}

/*----------------------------------------------------------------------------------*/
/* REGISTER */
/*----------------------------------------------------------------------------------*/

.register{
    background-color: rgba(201, 222, 217, 0.79);
    color: #1b1a24;
    margin-top: 0;
    padding-bottom: 35px;
}
.register-form{
     width: 157%;
    margin: 0 auto;
    padding-left: 35%;
    
}

input[type=text],
input[type=email],
input[type=tel],
select{
    width:23%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgba(17, 167, 63, 0.99);
    margin-top: 3px;
}
/*checkbox{
    width: 0%;
    padding: 100px;
}
*?
/* sign up botton */
.sign input{
    margin-top: 25px;
}


/*----------------------------------------------------------------------------------*/
/*PAYMENT */
/*----------------------------------------------------------------------------------*/

 .payment{
     color: green;
     margin-top: 40px;
     margin-bottom: 150px; 
}
.payment-form{
    width: 157%;
    margin: 0 auto;
    padding-left: 35%;
}
/* for the expire date and security code */
.field-container input{
    width: 9%;
}

/* the payment button*/
.sub input{
    width: 23%;
    margin-top: 24px;
}

/*----------------------------------------------------------------------------------*/
/* FOOTER */
/*----------------------------------------------------------------------------------*/
.footer-override{
    background-color: rgba(21, 177, 117, 0.99);
    padding: 10px;
    font-size: 100%;
    color: #fff;

}

.footer-nav{
    list-style: none;
    float: left;
    text-decoration: none;
}
.footer-override p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding-left: 40px auto;

}

/* copyright*/

.copy p{
    text-align: center;
    vertical-align: middle;
}




















